streamlit==1.39.0

# PyTorch CPU stable (IMPORTANT: tanpa +cpu)
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

--extra-index-url https://download.pytorch.org/whl/cpu

# Core stack (aman)
numpy==1.26.4
pandas>=2.0
scikit-learn>=1.5.0

# HuggingFace
transformers>=4.40.0
accelerate>=0.30.0
safetensors>=0.4.0
protobuf>=4.0.0